<header>
    <div class="buscador">
        <i class='bx bx-search'></i>
        <input type="text" class="input-buscar" placeholder="Buscar">
    </div>
    <div class="options" #options  id="options">
        <div class="option menu" (click)="abrir()">
            <i class='bx bx-menu'></i>
        </div>
        <div class="option ajustes">
            <i class='bx bxs-cog'></i>
        </div>
        <div class="option notifications">
            <i class='bx bx-bell'></i>
        </div>
        <div class="option user">
            <i class='bx bxs-circle'></i>
        </div>
    </div>
    
    
</header>
