header{
    position: fixed !important;
    top: 0;
    height: 50px;
    width: 100vw;
    backdrop-filter: blur(2px); /* Ajusta el valor de 'blur' según desees */
    background-color: rgba(53, 53, 53, 0.5); /* Cambia el color de fondo y la opacidad según desees */
    /* padding: 20px; Añade un relleno para que el desenfoque sea visible */


    display: flex;
    justify-content:center;
    align-items: center;
    gap: 2em;
    z-index: 5;
}

.buscador{
    position: relative;
    width: 60%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buscador input{
    width: 100%;
    height: 100%;
    padding-left:25%;
    outline: none;
    border: none;
    border-radius: 15px;
    font-size: 1.1em;
    color: #5e5c5c;
}

.buscador input::placeholder{
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.bx-search{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    font-size: 1.1em;
    color: #bdbdbd;
}

.options{
    position: fixed;
    top: 0;
    right: 2%;
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 0 0 25px 25px;
    overflow: hidden;
    height: 50px;
    transition: all .5s;
}


  
  

.option{
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all .5s;

}

.ajustes, .notifications, .user{
    display: none;
    transition: all .5s;

}

.no-hidden{
    display:flex;

}


/* .menu{
    background: #742828 ;
}

.ajustes{
    background: #353535 !important;
}

.notifications{
    background: #742828 !important;
}

.user{
    background: #353535;
} */

.options .bx{
color: #777;
font-size: 1.5em;
background: #ffffff;
padding: 15%;
border-radius: 50%;
border: #777 solid 2px;
}

@media screen and (min-width: 1000px) {
    header{
        position: fixed;
        height: 50px;
        width: 80vw;    
        display: flex;
        justify-content:end;
        align-items: center;
        gap: 2em;
        left: 20%;
        backdrop-filter: blur(2px); /* Ajusta el valor de 'blur' según desees */
        background-color: rgba(53, 53, 53, 0.5); /* Cambia el color de fondo y la opacidad según desees */
        /* padding: 20px; Añade un relleno para que el desenfoque sea visible */
    

    }

    .options{
        position: relative;
        top: 0;
        right: 0;
        width: 25%;
        display: flex;
        flex-direction: row !important;
        justify-content: center;
        align-items: center;
        background: none;
        padding: 20px; /* Añade un relleno para que el desenfoque sea visible */
    
        border-radius: 0 0 25px 25px;
        overflow: hidden;
        height: 50px;
        transition: all .5s;
    }

    .ajustes, .notifications, .user{
        display: flex;
        transition: all .5s;
    
    }

    .menu{
    background: #742828 ;
    display: none;
}


.buscador{
    position: relative;
    width: 40%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}



}