.bg{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #e5e5f7;
    opacity: 0.1;
    background: linear-gradient(135deg, #9500ff55 25%, transparent 25%) -22px 0/ 44px 44px, linear-gradient(225deg, #9500ff 25%, transparent 25%) -22px 0/ 44px 44px, linear-gradient(315deg, #9500ff55 25%, transparent 25%) 0px 0/ 44px 44px, linear-gradient(45deg, #9500ff 25%, #e5e5f7 25%) 0px 0/ 44px 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;

}


.all-login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 80vh;
    background: #0000006b;
    z-index: 1;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.all-login h2{
margin-bottom: 5%;
font-weight: 300;

} 

.all-login span{
    color: #9500ff;
    font-weight: 700;
}

.all-login form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    height: 100%;
    width: 100%;
    color: #fff;
}

.all-login form input{
    border: none;
    outline: none;
    background: transparent;
    border-bottom: solid 2px #ffffff;
    width: 70%;
    font-size: 1em;
    color: #fff;
}
.all-login form input:focus {
    
    background: transparent;

}
.registercont input:focus{
    background-color: transparent;
}
.registercont{
    padding-top: 10%;
    gap: 1em !important;
}

.all-login form button{
    color: #fff;
    background: #9500ff;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 1em;
    cursor: pointer;
}

form h4{
    font-weight: 300;
    margin-top: 5%;
}

form a{
    text-decoration: none;
    color: #9500ff;
}

#buttonR{
    background: none;
    color: #9500ff;
    cursor: pointer;
}
.red{
    color: red;
    font-weight: 900;
    user-select: none;
}
.red2{
    color: red;
    font-weight: 900;
    user-select: none;
  
}
@media screen and (min-width: 1000px) {

    .all-login{
        transform: translate(0);
        top: 0;
        right: 0;
        height: 100%;
        width: 50%;
        border-radius: 15px 0  0 15px;
    }

    .all-login form h2{
        position: fixed;
        top: 50%;
        left: -50%;
        margin-bottom: 5%;
        font-weight: 300;
        color: #9500ff;
        transform: translate(-50%, -50%);
        } 
        
        .all-login span{
            color: #9500ff;
            font-weight: 700;
        }
    
}