<div class="bg">
</div>
<div class="all-login">

 <form (ngSubmit)="submitForm($event)" *ngIf="mostrarElemento"  #login="ngForm" >  <!-- [formGroup]="formLogin" -->


    <h2>Bienvenidos a <span>Unicomer</span></h2>

    <label for="Dni-input">DNI/Mail</label>
    <input type="text" id="Dni-input" name="email" [(ngModel)]="email" />

    <!-- <div *ngIf="formLogin.get('Email')?.invalid && (formLogin.get('Email')?.dirty || formLogin.get('Email')?.touched)"
      class="error-message">
      <div *ngIf="formLogin.get('Email')?.hasError('required')">El campo es requerido.</div>
      <div *ngIf="formLogin.get('Email')?.hasError('minlength')">El campo debe tener al menos 2 caracteres.</div>
      <div *ngIf="formLogin.get('Email')?.hasError('maxlength')">El campo no debe tener más de 100 caracteres.</div>
    </div> -->

    <label for="password">Contraseña</label>

    <input type="text" id="password" name="code" [(ngModel)]="Code" />


    <!-- <div *ngIf="formLogin.get('Code')?.invalid && (formLogin.get('Code')?.dirty || formLogin.get('Code')?.touched)"
      class="error-message">
      <div *ngIf="formLogin.get('Code')?.hasError('required')">El campo es requerido.</div>
      <div *ngIf="formLogin.get('Code')?.hasError('minlength')">El campo debe tener al menos 3 caracteres.</div>
      <div *ngIf="formLogin.get('Code')?.hasError('maxlength')">El campo no debe tener más de 50 caracteres.</div>
    </div> -->

    <button type="submit">Ingresar</button>

    <h4>Aún no tienes una cuenta?<button id="buttonR" (click)="registrar($event)">Regístrate</button></h4>


  </form>


  <!-- ------------------------------------------------------------------- -->
  <form action="sudmit2" *ngIf="!mostrarElemento" id="register">
    <h2>Bienvenidos a <span>Unicomer</span></h2>
    <label for="Dni-input">DNI</label>
    <input type="text" id="Dni-input" name="DNI" />

    <label for="nombre">Nombre</label>
    <input type="text" id="nombre" name="nombre" />

    <label for="mail">Email</label>
    <input type="text" id="mail" name="DNI" />

    <label for="contraseña">Contraseña</label>
    <input type="text" id="contraseña" name="contraseña" />

    <button>Registrar</button>

    <h4>Ya tienes una cuenta?<button id="buttonR" (click)="registrar($event)">Ingresa</button> </h4>
  </form>


</div>