.nav-container{
    position: fixed;
    width: 50vw;
    height: 100vh;
    /* background: #37025c93; */

    backdrop-filter: blur(2px); /* Ajusta el valor de 'blur' según desees */
    background-color: rgba(53, 53, 53, 0.5); /* Cambia el color de fondo y la opacidad según desees */
    /* padding: 20px; Añade un relleno para que el desenfoque sea visible */

    border-radius: 0 15px 15px 0 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    transform: translate(-100%);
    transition: all .5s;
    user-select: none;

    z-index: 1000;
}

.logo{
    margin-top: 20px;
    color: #ffffff;
}

.roter{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.option{
    position: relative;
    width: 100%;
    font-size: 1.5em;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap: 1em;
    color: #ffffff;
    padding: 5px;
    cursor: pointer;
}

.bx{
    left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    /* background: #9500ff; */

    backdrop-filter: blur(2px); /* Ajusta el valor de 'blur' según desees */
    background-color: rgba(53, 53, 53, 0.5); /* Cambia el color de fondo y la opacidad según desees */
    /* padding: 20px; Añade un relleno para que el desenfoque sea visible */
}

h5{
    font-weight: 300;
}

.burger{
    display: flex;
    align-items: center;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 50%;
    right: -50px;
    transform: translate(-50%,);
    color: #ffffff;
    font-size: 1em;
    cursor: pointer;
}

.bx-menu{
    backdrop-filter: blur(2px); /* Ajusta el valor de 'blur' según desees */
    background-color: rgba(53, 53, 53, 0.5); /* Cambia el color de fondo y la opacidad según desees */
    /* padding: 20px; Añade un relleno para que el desenfoque sea visible */
    border-radius: 0 20px 20px 0;
}

@media screen and (min-width: 1000px) {

    .nav-container{
        position: fixed;
        width: 20vw;
        height: 100vh;
        /* background: #37025c93; */
    
        backdrop-filter: blur(2px); /* Ajusta el valor de 'blur' según desees */
        background-color: rgba(53, 53, 53, 0.5); /* Cambia el color de fondo y la opacidad según desees */
        /* padding: 20px; Añade un relleno para que el desenfoque sea visible */
    
        border-radius: 0 0px 15px 0 ;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2em;
        transition: all .5s;
        user-select: none;
    transform: translate(0);
        z-index: 10;
    }

    .burger{
        display: none;

    }
    
    .bx-menu{
        display: none;
    }
    
}