<div class="nav-container" #navbar>
    <div class="logo">
        <h2>{{logo}}</h2>
    </div>
    <div class="burger" >
        <i class='bx bx-menu'></i>
    </div>
    <div class="roter">
    <div class="option" (click)="inicio($event,'nothing')">
        <i class='bx bx-home'></i>
        <h5>Inicio</h5>
    </div>
    <div class="option" (click)="inicio($event,'cards')">
        <i class='bx bx-wallet'></i>
        <h5>Tarjetas</h5>
    </div>
    <div class="option" (click)="inicio($event,'credits')">
        <i class='bx bx-home'></i>
        <h5>Prestamos</h5>
    </div>
    <div class="option" >
        <i class='bx bxs-chevron-right' style='color:#ffffff' ></i>
        <h5>Operaciones</h5>
    </div>
    <div class="option" >
        <i class='bx bxs-label'></i>
        <h5>Te ofrecemos</h5>
    </div>
    <div class="option" >
        <i class='bx bx-shield-alt-2'></i>
        <h5>Seguros</h5>
    </div>
    <div class="option" >
        <i class='bx bx-gift'></i>
        <h5>Puntos</h5>
    </div>
    <div class="option" >
        <i class='bx bx-question-mark'></i>
        <h5>Ayuda</h5>
    </div>
    <div class="option" >
        <i class='bx bx-log-out' style='color:#ffffff' ></i>
        <h5>Cerrar sesion</h5>
    </div>
    </div>
    
</div>
