.operatiosnFromInicio{
  position: relative;

  overflow: scroll;
  width: 100%;
  height: 45vh;
}

.ubiOperation{
  position: relative;
  top:7vh;
  width: 100%;
  height: 50vh;

  animation: llegarDeLaDerecha 3s;

  
}

@keyframes llegarDeLaDerecha{
  0%{
    transform: translate(1000px);
  }
}

.title h1{
  font-weight: 400;

  user-select: none;
  color: #fff;
}

@media screen and (min-width: 1000px) {

  .ubiOperation{
    position: relative;
    top:7vh;
    left: 20%;
    width: 80%;
    height: 20vh;
    padding: 20px;
  }

.operatiosnFromInicio::-webkit-scrollbar{
  background: transparent;
  width: 0;
}
}

.inicioCont{
  height: 100vh;
  overflow-x:hidden ;
}