<navbar></navbar>
<navbar2></navbar2>

<div class="OperationsContent">

    <div class="butonsCont">
        <button class="butonOperations" (click)="fVewOperations($event, true)">
            <p>Movimientos</p>
        </button>
        <button class="butonOperations" (click)="fVewOperations($event, false)">
            <p>Transferir</p>
        </button>
    </div>

    <div class="listCont" *ngIf="vewOperations">
        
        <transactions></transactions>
    </div>

    <div class="listCont2" *ngIf="!vewOperations">
        <div class="balance">
            <h1>Saldo : {{balance}} $</h1>
            <h2>CBU : {{cbu}}</h2>
        </div>

        <form type="submit" class="transferCont" [formGroup]="formTransacction">


            <label for="amount">Monto </label>
            <input type="number" name="amount" (change)="dataTransfer2($event, 'amount')" formControlName="amount" />

            <div *ngIf="formTransacction.get('amount')?.invalid && (formTransacction.get('amount')?.dirty || formTransacction.get('amount')?.touched)"
                class="error-message">

                <div *ngIf="formTransacction.get('amount')?.hasError('required')" class="red2">El campo es requerido.
                </div>
                <div *ngIf="formTransacction.get('amount')?.hasError('maxlength')" class="red2">El campo no debe tener
                    más de 8 caracteres.</div>

            </div>

            <label for="address">CBU / CVU</label>
            <input type="number" name="address" (change)="dataTransfer($event, 'address')" formControlName="address" />

            <div *ngIf="formTransacction.get('address')?.invalid && (formTransacction.get('address')?.dirty || formTransacction.get('address')?.touched)"
                class="error-message">

                <div *ngIf="formTransacction.get('address')?.hasError('required')" class="red2">El campo es requerido.
                </div>
                <div *ngIf="formTransacction.get('address')?.hasError('minlength')" class="red2">El campo debe tener al
                    menos 3 caracteres. </div>

            </div>

            <button type="submit" (click)="newTransfer()">Transferir</button>

        </form>


    </div>
</div>